* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 2rem;
  text-align: center;
  font-size: x-large;
}

#flash-message-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: auto;
}

.flash-message {
  padding: 15px 20px;
  background-color: #4caf50;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  font-size: 1em;
}

.flash-message.error {
  background-color: #e74c3c;
}

.flash-message.info {
  background-color: #3498db;
}

.content {
  flex: 1;
  padding: 2rem;
}

.footer {
  background: #343a40;
  color: white;
  text-align: center;
  padding: 15px 0;
  width: 100%;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #f8f9fa;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

main {
  padding: 0 2rem;
}